<a href="https://colab.research.google.com/github/Vanessa0ne/Rails/blob/main/AnalisisConPhyton2Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Variables.
## Para asignar una variables   **=**  

asignar solo 2 veces el nombre a una variables!

In [ ]:
name = "vanessa"
print: name

In [ ]:
print(name)

vanessa

In [ ]:
first_name = "vanessa"
last_name = "Sagredo Vadivia"

In [ ]:
full_name  = first_name + last_name
print(full_name)

vanessaSagredo Vadivia

##String Formatting_Interpolation.

In [ ]:
sentence = f'hi, My name is {first_name} {last_name}'
print(sentence)

hi, My name is vanessa Sagredo Vadivia

#List Operations

In [ ]:
# indesex: 0  1  2  3
beatles = ["john", "paul", "ringo", "george"]

In [ ]:
beatles[0] # read

'john'

In [ ]:
beatles.append('george') # create (in place)
print(beatles)

['john', 'paul', 'ringo', 'george', 'george']

In [ ]:
beatles[1] = "paul" #  update (in place)
print(beatles)

['john', 'paul', 'ringo', 'george', 'george']

#Other List Operations

In [ ]:
beatles

['john', 'paul', 'ringo', 'george', 'george']

In [ ]:
beatles[1:3] # slise of 1 to 3 (excluded)

['paul', 'ringo']

In [ ]:
del beatles[1] # delete (in place)
print(beatles)

['john', 'ringo', 'george', 'george']

#Dict Operations

In [ ]:
instruments = {"john" : "guitar", "paul" : "bass"} # keys are  'str',  values to

In [ ]:
instruments["john"] # read

'guitar'

In [ ]:
instruments['ringo'] = "drums" # create / update
print(instruments)

{'john': 'guitar', 'paul': 'bass', 'ringo': 'drums'}

In [ ]:
del instruments['john']
instruments

{'paul': 'bass', 'ringo': 'drums'}

#Other Dict Operation

In [ ]:
instruments

{'paul': 'bass', 'ringo': 'drums'}

In [ ]:
instruments = ('john')

In [ ]:
instruments

'john'

#Control Flow

#Pruebas python Vanessa S.V!

#Lecture  0n3

In [ ]:
name = "benjamin"
print: name
first_name = "benjamin"
last_name = "romain baranger"
full_name  = first_name + last_name
print(full_name)
sentence = f'hi, My name is {first_name} {last_name}'
print(sentence)

benjaminromain baranger
hi, My name is benjamin romain baranger

In [ ]:
name = "chris"
print: name
first_name = "chris"
last_name = "james westerman"
full_name  = first_name + last_name
print(full_name)
sentence = f'hi, My name is {first_name} {last_name}'
print(sentence)

chrisjames westerman
hi, My name is chris james westerman

In [ ]:
compute_name = "benjamin"
name = "benjamin"
print: name
first_name = "benjamin"
last_name = "romain baranger"
full_name  = first_name + last_name
print(full_name)
sentence = f'hi, My name is {first_name} {last_name}'
print(sentence)
compute_name = "chris", "james westerman"
name = "chris"
print: name
first_name = "chris"
last_name = "james westerman"
full_name  = first_name + last_name
print(full_name)
sentence = f'hi, My name is {first_name} {last_name}'
print(sentence)



# ... previous code ...

# Define compute_name function
def compute_name(first_name, middle_name, last_name):
    return f"{first_name} {middle_name} {last_name}"

# No modifiques el código a continuación:

print("##########################################")
print("##################TESTS###################")
print("##########################################\n")

import os
print("Testeando compute_name con benjamin romain baranger:")
if compute_name('benjamin', 'romain', 'baranger') == 'benjamin romain baranger':
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
	os.system("echo '\e[31mIncorrecto\e[0m'")
print("Testeando compute_name con chris james westerman:")
if compute_name('chris', 'james', 'westerman') == 'chris james westerman':
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
	os.system("echo '\e[31mIncorrecto\e[0m'")

benjaminromain baranger
hi, My name is benjamin romain baranger
chrisjames westerman
hi, My name is chris james westerman
##########################################
##################TESTS###################
##########################################

Testeando compute_name con benjamin romain baranger:
Testeando compute_name con chris james westerman:

#Lecture d0S

In [ ]:
def sum3(a, b, c):
    return a + b + c

type(sum3)
type(0+0+0)
type(1*2*3)
type(4+ 5+ 6)
type(-1+-1*0)


# No modifiques el código a continuación:

print("##########################################")
print("##################TESTS###################")
print("##########################################\n")

import os
print("Testeando sum3 con 0 0 0:")
if sum3(0, 0, 0) == 0:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
	os.system("echo '\e[31mIncorrecto\e[0m'")
print("Testeando sum3 con 1 2 3:")
if sum3(1, 2, 3) == 6:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
	os.system("echo '\e[31mIncorrecto\e[0m'")
print("Testeando sum3 con 4 5 6:")
if sum3(4, 5, 6) == 15:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
	os.system("echo '\e[31mIncorrecto\e[0m'")
print("Testeando sum3 con -1 1 0:")
if sum3(-1, 1, 0) == 0:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
	os.system("echo '\e[31mIncorrecto\e[0m'")

##########################################
##################TESTS###################
##########################################

Testeando sum3 con 0 0 0:
Testeando sum3 con 1 2 3:
Testeando sum3 con 4 5 6:
Testeando sum3 con -1 1 0:

#Lecture tr3S

In [13]:
# TODO: primero agregar una estructura de datos con el tipo de cambio (currency rates)
#RATES
# indeces:    0      1      2
amount = ["100_USD", "85_EUR", "200_CHF"]
currency = ["USD", "EUR", "CHF"]
amount_converted = [True] * len(amount)

# Estructura de datos con los tipos de cambio
exchange_rates = {
    "USD": {
        "EUR": 0.85,
        "CHF": 0.92,
        "GBP": 0.73
    },
    "EUR": {
        "USD": 1.18,
        "CHF": 1.08,
        "GBP": 0.88
    },
    "CHF": {
        "USD": 1.09,
        "EUR": 0.93,
        "GBP": 0.81
    },
    "GBP": {
        "USD": 1.37,
        "EUR": 1.14,
        "CHF": 1.23
    }
}

# TODO: Implementa tu método convert a continuación:
def convert(amount, target_currency):
    """returns the converted amount in the given currency
    amount is a tuple like (100, "EUR")
    currency is a string
    """
    amount_value, amount_currency = amount
    if amount_currency == target_currency:
        return amount_value
    if amount_currency in exchange_rates and target_currency in exchange_rates[amount_currency]:
        rate = exchange_rates[amount_currency][target_currency]
        return amount_value * rate
    else:
        return None

# No modifiques el código a continuación:

print("##########################################")
print("##################TESTS###################")
print("##########################################\n")

import os
print("Testeando conversiones con estructura correcta:")

amount = (100, "USD")
if convert(amount, "EUR") == 85:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
    os.system("echo '\e[31mIncorrecto\e[0m'")

amount = (200, "CHF")
if convert(amount, "EUR") == 186:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
    os.system("echo '\e[31mIncorrecto\e[0m'")

amount = (300, "GBP")
if convert(amount, "EUR") == 342:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
    os.system("echo '\e[31mIncorrecto\e[0m'")

amount = (339, "EUR")
if convert(amount, "GBP") == 298.32:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
    os.system("echo '\e[31mIncorrecto\e[0m'")

amount = (300, "RMB")
if convert(amount, "EUR") == None:
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
    os.system("echo '\e[31mIncorrecto\e[0m'")
    end

##########################################
##################TESTS###################
##########################################

Testeando conversiones con estructura correcta:

#Lecture 4 ["ford"]

In [8]:
# Implementa tu método compute_name a continuación:
#sudoku_validator = "grid" # This line was causing the issue
def sudoku_validator(grid):
    # Add your sudoku validation logic here.
    # For the sake of example, this function will just return True for now.
    return True

grid= [["i"], ["j"]] # Create a list of lists
# indesex: 0  1  2  3  4 5 6 7 8 9
list(range(3*3))

# No modifiques el código a continuación:
# ... (rest of the code remains the same)

print("##########################################")
print("##################TESTS###################")
print("##########################################\n")

import os
print("Testeando sudoku con estructura correcta:")

grid = [
        [7,8,4,  1,5,9,  3,2,6],
        [5,3,9,  6,7,2,  8,4,1],
        [6,1,2,  4,3,8,  7,5,9],

        [9,2,8,  7,1,5,  4,6,3],
        [3,5,7,  8,4,6,  1,9,2],
        [4,6,1,  9,2,3,  5,8,7],

        [8,7,6,  3,9,4,  2,1,5],
        [2,4,3,  5,6,1,  9,7,8],
        [1,9,5,  2,8,7,  6,3,4]
    ]
if sudoku_validator(grid): # Now this line calls the function correctly
    os.system("echo '\e[32mCorrecto\e[0m'")
else:
    os.system("echo '\e[31mIncorrecto\e[0m'")


# ... (The rest of the code remains the same)

##########################################
##################TESTS###################
##########################################

Testeando sudoku con estructura correcta: